* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body, html {
    background-color: #111;
}

#app {
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    box-shadow: 0 0 20px rgba(141, 141, 141, 0.4);
    width: 90%;
    max-width: 1000px;
}

#app > h2 {
    margin-bottom: 30px;
    font-size: 35px;
    text-align: center;
}

.todo-wraper {
    display: flex;
    gap: 40px;
}

.todo-list {
    height: 400px;
    overflow-y: auto;
    background-color: #f1f1f1;
    width: 70%;
    /* margin-top: 30px; */
}

.todo-list ul {
    list-style-type: none;
    padding: 20px;
}

.todo-single {
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 12px;
    align-items: center;
}

.todo-single input {
    width: 30px;
    height: 30px;
}

.todo-single i {
    cursor: pointer;
    font-size: 20px;
}

.todo-single .todo-inf {
    width: 100%;
}

.todo-single .todo-inf p {
    margin-top: 5px;
}

.todo-single:last-child {
    margin-bottom: 0;
}

.todo-form {
    width: 40%;
    background-color: #f1f1f1;
    padding: 20px;
}

.todo-form p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.input-wraper {
    margin-bottom: 10px;
}

.input-wraper:last-child {
    margin-bottom: 0;
}

.input-wraper label {
    display: block;
    margin-bottom: 8px;
}

.input-wraper input[type=text] {
    border: 0;
    border-bottom: 1px solid #c2c2c2;
    padding: 8px;
    width: 100%;
    outline: 0;
    background-color: white;
    transition: border-bottom 0.3s;
}

.input-wraper input[type=text]:focus, .input-wraper input[type=text]:hover {
    border-bottom: 1px solid #575757;
}

.input-wraper button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: 0;
    border-bottom: 3px solid #00c853;
    background-color: #69f0ae;
    transition: background-color 0.5s;
    font-size: 17px;
}

.input-wraper button:hover {
    background-color: #00c853;
}

.danger-btn {
    color: #d84315;
}

.blue-btn {
    color: #0277bd;
}

.update-todo-form {
    background-color: #f1f1f1;
    padding: 20px;
    height: 400px;
    width: 100%;
}

.update-todo-form h2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.update-todo-form form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.update-todo-form .leave-btn {
    position: absolute;
    top: 0px;
    right: 6px;
    font-size: 25px;
    color: black;
}

.done-todo {
    text-decoration: line-through #444 solid 3px;
    color: #444;
}

@media screen and (max-width: 900px) {
    .todo-wraper {
        flex-wrap: wrap;
    }
    
    .todo-list {
        width: 100%;
        max-height: 20vh;
    }

    .todo-form {
        width: 100%;
    }
}

@media screen and (max-width: 470px) {
    .todo-single {
        gap: 0px;
        flex-wrap: wrap;
        text-align: center;
    }

    .todo-single .todo-inf {
        margin-bottom: 10px;
    }
    
    .todo-single .checkbox-wraper {
        width: calc(100% / 3);
    }

    .todo-single a, .todo-single i {
        width: calc(100% / 3);
        display: inline-block;
    }
}